*{
  box-sizing: border-box;
}

.container {
  max-width: 460px;
  margin: 10% auto 0 auto;
  min-height: 65vh;
  width: 100%;
  padding: 0 15px;
}

body{
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-family: "IBM Plex Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 400;
}