fieldset {
  border-radius: 10px;
  border: 1px solid #E7EBF0;
  margin: 10px 0;
  position: relative;
}

.date__picker {
  float: left;
  position: relative;
  z-index: 2;
}
.date__picker--input input {
  cursor: pointer;
  border: none;
  background-color: transparent !important;
}
.date__picker--input input:focus {
  outline: none;
}
.date__picker--modal {
  position: absolute;
  left: -13px;
  top: 35px;
  width: 100%;
  max-width: 500px;
  min-height: 300px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
  padding: 15px;
  background-color: #2f2f2e;
  color: white;
}
@media (min-width: 768px) {
  .date__picker--modal {
    width: 430px;
  }
}
.date__picker--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date__picker--top--left {
  display: flex;
  font-weight: bold;
  font-size: 18px;
}
.date__picker--top--right {
  display: flex;
  width: 50px;
  align-items: center;
  padding-top: 5px;
}
.date__picker--currentMonth {
  margin-right: 10px;
}
.date__picker--nav--nextMonth:after, .date__picker--nav--prevMonth:after {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  content: "";
}
.date__picker--nav--nextMonth, .date__picker--nav--prevMonth {
  cursor: pointer;
  display: block;
}
.date__picker--nav--nextMonth:hover, .date__picker--nav--prevMonth:hover {
  opacity: 0.8;
}
.date__picker--nav--nextMonth {
  transform: rotate(225deg);
  margin-left: 10px;
  margin-top: 16px;
}
.date__picker--nav--prevMonth {
  transform: rotate(45deg);
  margin-left: -4px;
}
.date__picker--calendarBody {
  display: flex;
  flex-wrap: wrap;
}
.date__picker--calendarHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.date__picker--calendarHeading .month {
  font-size: 16px;
  width: 14.2857142857%;
  margin: 5px;
  text-align: center;
}
.date__picker--item {
  background-color: #111212;
  border-radius: 50%;
  height: 48px;
  width: 12.1951219512%;
  margin: 2px 1%;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}
.date__picker--item:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.date__picker--item.disabled {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  height: 0;
}
.date__picker--item.current:not(.selected) {
  background-color: #44a5f4;
  color: black;
  opacity: 0.5;
}
.date__picker--item.selected {
  background-color: #44a5f4;
  color: black;
}
.date__picker--currentYear {
  position: relative;
  right: 0;
  left: 0;
}
.date__picker--currentYear * {
  -webkit-appearance: none;
}
.date__picker--currentYear select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: bold;
  outline: none !important;
}
.date__picker--currentYear select option {
  color: black;
}
.date__picker--currentYear:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  top: 50%;
  transform: translatey(-50%);
  right: 0;
}

/*# sourceMappingURL=date.css.map */
